/* .kiosk {
  position: relative;
  border: 1px solid #d2dae0;
  width: 800px;
  height: 90vh;
  margin: 100px auto;
} */

.kiosk {
  border: 1px solid #d2dae0;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  width: 800px;
}
